# ── Server ──────────────────────────────────────────────
PORT=8000

# ── Database MySQL ──────────────────────────────────────
DB_HOST=192.168.27.240
DB_PORT=3306
DB_USER=root
DB_PASSWORD=kolab@777
DB_NAME=sorgum_scm

# ── JWT ─────────────────────────────────────────────────
JWT_SECRET=please_change_this_secret_key
JWT_EXPIRES_IN=7d
